<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info Page</title>
    <link rel="stylesheet" href="education.component.css"> <!-- separate CSS file -->
</head>
<body>
    <main>
        <section class="education-container">
            <header>
                <h1>EDUCATION</h1>
            </header>
            <br>
            <br>
            <section class="personal-info">
                <div class="info-grid">
                    <div class="info-item">
                        <h2><b>HOLY ANGEL UNIVERSITY</b></h2>
                        <p><i>College</i></p>
                        <p>2021 - Present</p>
                    </div>
                    <div class="info-item">
                        <h2><b>HOLY ANGEL UNIVERSITY</b></h2>
                        <p><i>Senior High School</i></p>
                        <p>2019 - 2020</p>
                    </div>
                    <div class="info-item">
                        <h2><b>HOLY ANGEL UNIVERSITY</b></h2>
                        <p><i>Junior High School</i></p>
                        <p>2017 - 2019</p>
                    </div>
                </div>
            </section>
            <br>
            <br>
        </section>
    </main>
</body>
</html>