<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info Page</title>
    <link rel="stylesheet" href="references.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
        <div class="container">
            <header>
                <h1>REFERENCES</h1>
            </header>
            <section class="personal-info">
                <div class="Container">
                    <img src="/assets/joseph.png" alt="Display picture of prof">
                    <h2>MR. JOSEPH ESQUIVEL</h2>
                    <p><i>Advanced Dynamic Web Applications Professor</i></p>
                    <ul>
                        <li><b>Email:</b> jesquivel&#64;hau.edu.ph</li>
                        <li><b>Mobile:</b> +639176216023</li>
                    </ul>
                </div>
                <div class="Container">
                    <img src="/assets/chris.jpeg" alt="Display picture of prof">
                    <h2>MR. CHRIS ALMOCERA</h2>
                    <p><i>Dynamic Web Development Tools Professor</i></p>
                    <ul>
                        <li><b>Email:</b> calmocera&#64;hau.edu.ph</li>
                        <li><b>Mobile:</b> +639123456789</li>
                    </ul>
                </div>
            </section>
            <br>
            <br>
        </div>
        <footer>
            <div class="footer-content">
                <h3>Thank You!</h3>
                <p>For more details, contact me below.</p>
                <ul class="socials">
                    <li><a href="https://www.facebook.com/notlrys"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/lianne2_"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="mailto:reyeslianne23@gmail.com"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </footer>
    </main>
</body>
</html>