<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Apfel+Grotezk:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app.component.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <script>
        // Add event listener to window scroll event
        window.addEventListener('scroll', () => {
            const navContainer = document.querySelector('.nav-container');
            if (window.scrollY > 0) {
                navContainer.classList.add('scrolled');
            } else {
                navContainer.classList.remove('scrolled');
            }
        });
    </script>
</head>
<body>
    <!-- Navigation Menu -->
    <div class="nav-container">
        <nav class="sidebar">
            <ul>
                <li><a href="/personal-info/personal-info.component.html">Personal Info</a></li>
                <li><a href="/education/education.component.html">Education</a></li>
                <li><a href="/work-experience/work-experience.component.html">Work Experience</a></li>
                <li><a href="/education/education.component.html">Training</a></li>
                <li><a href="/education/education.component.html">References</a></li>
            </ul>
        </nav>
    </div>
    <app-home></app-home>
    <app-personal-info></app-personal-info>
    <app-education></app-education>
    <app-work-experience></app-work-experience>
    <app-training></app-training>
    <app-skills-certification></app-skills-certification>
    <app-references></app-references>
</body>
</html>