<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info Page</title>
    <link rel="stylesheet" href="work-experience.component.css">
</head>
<body>
    <main>
        <div class="container">
            <header>
                <h1>WORK EXPERIENCE</h1>
            </header>
            <section class="personal-info">
                <div class="Container">
                    <p>I have a strong background in customer service, data encoding, and administrative work. I am a quick learner and can adapt to new environments easily.</p>
                    <ul>
                        <li>
                            <b>Job Title:</b> Graphic Designer
                            <br>
                            <b>Company:</b> The Street Market
                            <br>
                            <b>Duration:</b> March 2023 - Present
                            <br>
                            <b>Responsibilities:</b> Design visually compelling materials for various mediums, meeting client objectives.
                        </li>
                        <br>
                        <li>
                            <b>Job Title:</b> Graphic Designer
                            <br>
                            <b>Company:</b> Objet A
                            <br>
                            <b>Duration:</b> July 2022 - October 2022
                            <br>
                            <b>Responsibilities:</b> Collaborate with teams to complete design projects on time, within budget, and to high standards.
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
</body>
</html>