<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info Page</title>
    <link rel="stylesheet" href="personal-info.component.css">
</head>
<body>
    <main>
        <div class="container">
            <header>
                <h1>PERSONAL INFO</h1>
            </header>
            <section class="personal-info">
                <div class="Container">
                    <img src="/assets/me.jpg" alt="Display picture of doggo">
                    <h2>Lianne Ashley L. Reyes</h2>
                    <p>I am a dedicated and responsible individual seeking employment that will allow me to utilize my skills and contribute to the organization's success. <br>Looking forward to working for a firm that not only prioritizes client satisfaction but also fosters a positive work environment and a positive experience for its employees.</p>
                    <ul>
                        <li><b>Age:</b> 21</li>
                        <li><b>Gender:</b> Female</li>
                        <li><b>Birthday:</b> March 23, 2003</li>
                        <li><b>Birthplace:</b> Angeles City, Pampanga</li>
                        <li><b>Religion:</b> Born Again Christian</li>
                        <li><b>Civil Status:</b> Single</li>
                        <li><b>Height (cm):</b> 152.40 cm</li>
                        <li><b>Weight (kg):</b> 45kg</li>
                        <li><b>Star Sign:</b> Aries</li>
                    </ul>
                </div>
            </section>
            <div class="social-icons mt-4">
                <a href="https://www.facebook.com/notlrys" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/lianne2_" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </main>
</body>
</html>