<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info Page</title>
    <link rel="stylesheet" href="training.component.css">
</head>
<body>
    <main>
        <div class="container">
            <header>
                <h1>TRAINING</h1>
            </header>
            <br>
            <br>
            <section class="personal-info">
                <section class="card-list">
                    <li class="card">
                        <figure>
                            <img src="/assets/ga4.png" alt="Google Analytics 4 image">
                            <figcaption>
                                <b>GOOGLE ANALYTICS 4 (GA4)</b>
                                <p>Year 2023</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="card">
                        <figure>
                            <img src="/assets/red-hat.jpg" alt="Red Hat Academy image">
                            <figcaption>
                                <b>RED HAT ACADEMY</b>
                                <p>Year 2022</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="card">
                        <figure>
                            <img src="/assets/netacad.png" alt="Cisco Net Acad image">
                            <figcaption>
                                <b>CISCO NETACAD</b>
                                <p>Year 2022</p>
                            </figcaption>
                        </figure>
                    </li>
                </section>
            </section>
        </div>
    </main>
</body>
</html>